<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>

  <div class="container mt-5">
      
    <h1>Products</h1>

    <div class="row row-cols-1 row-cols-md-3">
   
    <% for(product of products) { %>
      <div class="col mb-4">

        <a href="/shop/products/<%= product._id %>">
          <div class="card h-100" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-4">
                <img src="<%= product.imageUrl %>" class="img-fluid" alt="<%= product.title %>">
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="mb-0 card-title"><%= product.title %></h5>
                  <span class="badge badge-success"><%= product.price %></span>
                  <p class="card-text"><%= product.description %></p>
                </div>
              </div>
            </div>
          </div>
        </a>

      </div>
      <% } %>
    </div>

  </div>
</body>
</html>