<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron container mt-3">
    <h1 class="display-4 font-weight-bold"><%= title %></h1>
    <h2 class="font-weight-light"><%= subtitle %></h2>
    <p class="lead"><%= description %></p>
  </div>
  <div class="container">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-3">
     
        <% for(assignment of assignments) { %>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="mb-0 card-title"><%= assignment.title %></h5>
                <small class="card-subtitle"><%= assignment.subtitle %></small>
                <p class="card-text"><%= assignment.description %></p>
                <div class="text-right">
                  <a href="<%= assignment.path %>">View</a>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>

    </div>

  </div>
</body>
</html>